
.calculator {
    display: flex;
    flex-direction: column;
}

.display {
    font-family: 'Roboto Mono', monospace;
}

.numberPad {
    font-family: 'Pacifico', cursive;
}
.row {
    display: flex;
    flex-direction: row;
}

.button {
    padding: 5px;
    text-align: center;
}